body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

.talha{
    color: darkorange;
}

.boy{
    display: flex;
}

.you{
    width: 50%;
    padding-left: 10%;
    
}

.home img{
    width: 50%;
    margin-left: 150px;
}

.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 230, 230) , rgb(5, 5, 5));
    padding: 10px 15px;
    border-radius: 8px;
    color: rgb(20, 20, 22);
    font-weight: 700;
}

.jay{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.non img{
    width: 60%;
    padding-left: 10%;
    padding-top: 7%;

}
.jayt{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.kill{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    border-radius: 8px;
    border-right: 15px solid red;
    
}

.class{
    text-align: center;
}



